<div>
  <div>
    <h1>
      List of all books
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new book
    </h2>

    <form action="/insert_book" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="position_box">
          Position
        </label>

        <input type="text" id="position_box" name="query_position">
      </div>

      <button>
        Create book
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Position
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_books.each do |a_book| %>
      <tr>
        <td>
          <%= a_book.id %>
        </td>

        <td>
          <%= a_book.title %>
        </td>

        <td>
          <%= a_book.position %>
        </td>

        <td>
          <%= time_ago_in_words(a_book.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_book.updated_at) %> ago
        </td>

        <td>
          <a href="/books/<%= a_book.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
