<div>
  <div>
    <h1>
      Occurrence #<%= @the_occurrence.id %> details
    </h1>

    <div>
      <div>
        <a href="/occurrences">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_occurrence/<%= @the_occurrence.id %>">
          Delete occurrence
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Instruction
      </dt>
      <dd>
        <%= @the_occurrence.instruction_id %>
      </dd>

      <dt>
        Text
      </dt>
      <dd>
        <%= @the_occurrence.text %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_occurrence.book_id %>
      </dd>

      <dt>
        Chapter
      </dt>
      <dd>
        <%= @the_occurrence.chapter %>
      </dd>

      <dt>
        Verse
      </dt>
      <dd>
        <%= @the_occurrence.verse %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_occurrence.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_occurrence.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit occurrence
    </h2>

    <form action="/modify_occurrence/<%= @the_occurrence.id %>"  method="post" >
      <div>
        <label for="instruction_id_box">
          Instruction
        </label>

        <input type="text" id="instruction_id_box" name="query_instruction_id" value="<%= @the_occurrence.instruction_id %>">
      </div>

      <div>
        <label for="text_box">
          Text
        </label>

        <textarea id="text_box" name="query_text"><%= @the_occurrence.text %></textarea>
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_occurrence.book_id %>">
      </div>

      <div>
        <label for="chapter_box">
          Chapter
        </label>

        <input type="text" id="chapter_box" name="query_chapter" value="<%= @the_occurrence.chapter %>">
      </div>

      <div>
        <label for="verse_box">
          Verse
        </label>

        <input type="text" id="verse_box" name="query_verse" value="<%= @the_occurrence.verse %>">
      </div>

      <button>
        Update occurrence
      </button>
    </form>
  </div>
</div>

<hr>
